<ion-header no-shadow>
  <ion-toolbar class="header-toolbar">
    <div slot="start">
      <ion-img src="assets/images/gigameter_logo.png" class="giga_meter_logo"></ion-img>

    </div>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange()" class="custom-select">
        <ion-select-option *ngFor="let language of languages" [value]="language.code">
          {{ language.label }}
        </ion-select-option>
      </ion-select>
      <ion-label class="selected-label" onclick="document.querySelector('ion-select').open()"
        onmouseover="this.style.cursor='pointer'">
        <a (click)="openSelect()" class="selected-label">
          {{ selectedLanguageName }} 
          <img src="assets/images/right_arrow.svg" alt="Language Icon" class="language-icon">
        </a>
      </ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" menu="help">

      <ion-img src="assets/images/Help.png" class="noschool-icon"></ion-img>
      </ion-menu-button>
      <ion-menu-button color="light">

        <ion-img src="assets/images/Settings.png" class="noschool-icon"></ion-img>

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="testMode">
  {{ test ? "Test Mode" :"" }}
</div>