<app-pcdc-header></app-pcdc-header>
<ion-content class="ion-padding font_open_sans content_paddding">
  <div class="container">

    <ion-item lines="none" class="label_top">
      <ion-label class="font_size" [translate]="'schoolDetails.saveEmail'"></ion-label>
    </ion-item>

    <div class="optional">(Optional)</div>

    <ion-item class="custom-gray-item" [class.ion-invalid]="emailControl.invalid && emailControl.touched">
      <ion-input type="email" [formControl]="emailControl" placeholder="e.g. info@school.edu">
      </ion-input>
    </ion-item>

    <div class="text_under_input">Please use an email account linked to your educational institution</div>

    <div class="error-msg" *ngIf="emailControl.invalid && emailControl.touched">
      <span *ngIf="emailControl.errors?.['required']">Email is required.</span>
      <span *ngIf="emailControl.errors?.['email']">Please enter a valid email address.</span>
      <span *ngIf="emailControl.errors?.['invalidEmail']">Please enter a valid email with a domain and dot (e.g., info@school.com).</span>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding footer_button">
    <div class="btn-holder" style="margin-bottom: 14px;">
      <ion-button block class="nobtn"   (click)="skip()">Skip</ion-button>
      <ion-button block class="yesbtn" (click)="addEmail()" [disabled]="emailControl.invalid">
        Add
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>