
<app-pcdc-header></app-pcdc-header>
<ion-content>

<div class="email-container">
  <div
        class="selectandconfirm"
        [translate]="'schoolDetails.saveEmail'"
      ></div>
  
  <ion-item>
    <ion-input type="email" block placeholder="{{ 'schoolDetails.enterEmail' | translate }}"   [(ngModel)]="email"></ion-input>
  </ion-item>

  <div class="button-group">
    <ion-button fill="outline" (click)="skip()">Skip</ion-button>
    <ion-button (click)="addEmail()">Add</ion-button>
  </div>
</div>
</ion-content>
