<app-pcdc-header></app-pcdc-header>
<ion-content class="ion-padding">

  <!-- <div class="email-container"> -->
    <ion-item lines="none">
      <ion-label class="font_size" [translate]="'schoolDetails.saveEmail'"></ion-label>
    </ion-item>
  <!-- <div class="selectandconfirm" [translate]="'schoolDetails.saveEmail'"></div> -->
  <ion-item>
    <ion-input type="email" block placeholder="e.g. info@school.edu"
      [(ngModel)]="email"></ion-input>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <div class="btn-holder">
      <ion-button block class="nobtn" (click)="skip()">Skip</ion-button>
      <ion-button block class="yesbtn" (click)="addEmail()">Add</ion-button>
    </div>
  </ion-toolbar>


</ion-footer>
<!-- </div> -->