@import '../../../theme/variables.scss';

ion-content {
    --ion-background-color: #ffffff !important;

    ion-list {
        ion-item {
            padding-right: 20px;
            cursor: pointer;

            .item-inner {
                padding-right: 0px !important;
            }

            ion-label {
                color: #000;
                font-size: 18px;
                display: flex;
                align-items: center;
                padding-left: 8px;


                .hash {
                    font-size: 18px;
                    color: #000;
                    padding-right: 5px;
                }
            }

            ion-icon {
                color: #505868;
                padding-right: 5px;
            }

            ion-icon[name="chevron-forward-outline"] {
                padding-right: 5px;
                font-size: 15px;
                color: #505868;
                position: absolute;
                right: 0;
            }
        }
    }

    ion-accordion-group {
        margin-left: 25px;
        margin-right: 15px;

        ion-accordion {
            --ion-background-color: #ffffff;
            padding: 0px;
            border-bottom: 1px solid #353E52;

            ion-label {
                font-size: 13px;
                color: $light-text2;
                font-weight: 400px;
            }

            ion-list {
                ion-label {
                    font-size: 11px;
                    color: $light-text2;
                    font-weight: 400px;
                    word-wrap: break-word;
                }
            }
        }
    }
}