<app-pcdc-header></app-pcdc-header>
<ion-content class="font_open_sans scrollable_content">
  <div>
  <ion-button class="button_disable_hover" fill="clear" [routerLink]="['/home']">
    <ion-img src="assets/images/back_button.svg" name="arrow-back-outline" class="backIcon"></ion-img>

  </ion-button>

  <div class="register_title1" [translate]="'registerSchoolPage.title1' | translate"></div>

  <div class="register_title2" [translate]="'registerSchoolPage.title2' | translate"></div>
  <div class="check_tip_wraper">
    <div class="check_tip"> <ion-img src="assets/images/Icon.svg"></ion-img>
      <span>Preferably, on a wired connection</span>
    </div>
    <div class="check_tip"><ion-img src="assets/images/Icon.svg"></ion-img><span>Installed on 2 devices that are mostly used</span></div>
    <div class="check_tip"><ion-img src="assets/images/Icon.svg"></ion-img><span>Connected only to the school internet</span></div>
  </div>
  <div class="read_content">

    <div class="register_readMore" [translate]="'registerSchoolPage.readMore' | translate">

    </div>
    <ion-img src="assets/images/forward_arrow.svg"></ion-img>
  </div>


  <div class="middle-layout">
    <label class="privacy-container">
      <div class="input">
        <input type="checkbox" [(ngModel)]="isPrivacyChecked" class="checkbox" (change)="toggleCheckbox()" />
      </div>
      <div class="learnmore">
        I agree to the data policy which includes retention and publication of IP addresses.
      </div>
    </label>
    <div class="further-info" [innerHTML]="'home.privacy' | translate:{  targetUrl }"
      (click)="openExternalUrl('https://www.unicef.org/legal#privacy-policy')">
    </div>
    <div class="bottom-layout">
      <ion-button [disabled]="!isPrivacyChecked" color="primary" (click)="redirectToCountry()"
        class="dailycheck_btn"><span class="submit_button_size" [translate]="'home.start'"></span></ion-button>

    </div>
  </div>
</div>

</ion-content>