<app-pcdc-header></app-pcdc-header>
<ion-content>
  <div class="container" [ngClass]="{'privacy_height': isLast}">
    <ion-slides  [options]="slideOpts" (ionSlideReachEnd)="reachedEnd()" class="schoolsuccess" #mySlider>
      <ion-slide>
        <div class="top-layout">
          <div class="successInfo">
            <ion-img src="assets/images/register_plugin.svg" class="icon1"></ion-img>
            <div class="success-txt" [translate]="'registerSchool.register-step-1'"></div>
            <!-- <div class="success-desc-txt" [innerHtml]="'schoolSuccess.school-registered' | translate:{ appName }"></div> -->
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top-layout">
          <div class="successInfo">
            <ion-img src="assets/images/installing_register.svg" class="icon2"></ion-img>
            <div class="success-txt" [innerHtml]="'registerSchool.register-step-2' | translate"></div>
            <!-- <div class="success-desc-txt" [innerHtml]="'schoolSuccess.internet-checks' | translate"></div> -->
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top-layout">
          <div class="successInfo">
            <ion-img src="assets/images/start_registeration.svg" class="icon3"></ion-img>
            <div class="success-txt last-step" [innerHtml]="'registerSchool.register-step-3' | translate"></div>
            <!-- <div class="success-desc-txt" [innerHtml]="'schoolSuccess.app-run-desc' | translate"></div>
            <div class="success-desc-txt" [innerHtml]="'schoolSuccess.you-can-close' | translate"></div> -->

          </div>
          <div class="read_content">

            <div class="register_readMore" [translate]="'registerSchoolPage.readMore' | translate">
        
            </div>
            <ion-img src="assets/images/forward_arrow.svg"></ion-img>
          </div>
        </div>
        
      </ion-slide>
      
    </ion-slides>
    
 
    <div class="bottom-layout">
      <div class="middle-layout" *ngIf="isLast">
        <label class="privacy-container">
          <div class="input">
            <input id="privacy" type="checkbox" [(ngModel)]="isPrivacyChecked" class="checkbox" (change)="toggleCheckbox()" />
          </div>
          <div class="learnmore">
            <span  class="learnmore" [innerHTML]="'registerSchoolPage.privacy' | translate"></span>
            <span  class="learnmore"> <b class="underline" (click)="openExternalUrl('https://opendatacommons.org/licenses/odbl/1-0/')"> Open Database License (ODBL)</b>, the <b class="underline" (click)="openExternalUrl('https://www.measurementlab.net/privacy/')">M-Lab Privacy Policy</b> and <b class="underline" (click)="openExternalUrl('https://www.unicef.org/legal#privacy-policy')">UNICEF’s Privacy Policy</b>.</span>
          </div>
        </label>
        </div>
    <div class="swiper-pagination"></div>

      <ion-button color="primary" appEnterKeyClick (click)="swipeNext()" class="dailycheck_btn btn_margin" *ngIf="!isLast"
         [translate]="'next'"></ion-button>
      <ion-button color="primary"  [disabled]="!isPrivacyChecked"  appEnterKeyClick (click)="moveToStartTest()" class="dailycheck_btn btn_margin" *ngIf="isLast"
      [translate]="'registerSchool.start-registeration'"></ion-button>
    </div>
  </div>
</ion-content>