@import "../../../theme/variables.scss";

.centerPos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f4f5f8;
}

.subtitle {
    font-size: 16px;
    color: #a0a0a0;
    /* Lighter gray color */
    margin-bottom: 4px;
    font-weight: 400;
}

.title {
    font-size: 28px;
    font-weight: 500;
    color: black;
    /* Ensure the main text is white */
}

.custom-item {
    --color: black;
    /* Set text color */
    padding: 8px;
    border-radius: 8px;
    width: 100%;

}
.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 16px;
    background: #f4f5f8;
  
    ion-item {
      --padding-start: 8px;
      flex: 1;
      border-left: 1px solid gray;
      /* Divider line */
      --background: transparent;
    }
  
    ion-label h3,
    ion-label p {
      /* Change as per your theme */
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: #474747;
    }
    
    ion-label h3{
        color: #9E9E9E;
    }
  }
  .test_history {
    font-size: 16px;
    font-weight: 400;
    color: #474747 !important;
  }
  .table-header {
    ion-col {
      font-weight: 400;
      font-size: 16px;
    }
  }
  
  ion-row {
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    

  }
  
  ion-col {
    display: flex;
    align-items: center;
    &.green_color{
        color: #42BE65;
    }
    /* Optional text alignment: */
    /* justify-content: center; */
  }
  