<!-- <ion-content> -->
<div role="button" class="circular-progress-container" (click)="handleClick()">
  <div class="ping-animation" *ngIf="(progressValue === 0 || secondLabel === 'TEST AGAIN') && !error"></div>
  <svg class="circular-progress-svg" viewBox="0 0 100 100">
    <circle class="circle-background" stroke-width="4" cx="50" cy="50" r="40" [attr.fill]="getFillColor()" [ngClass]="{
      'error': error,
      'gray' : progressValue > 0,
      'green': !error
    }"></circle>

    <circle class="circle-progress" stroke-width="4" stroke-linecap="round" cx="50" cy="50" r="40" fill="transparent"
      stroke-dasharray="251.2" [attr.stroke-dashoffset]="getStrokeDashOffset()" [ngClass]="{
        'error': error,
        'green': !error
      }"></circle>
    <image *ngIf="secondLabel === 'DOWNLOAD'" href="assets/images/Download.svg" width="8" height="8" x="18" y="45"
      alt="Error Icon" />
    <image *ngIf="secondLabel === 'UPLOAD'" href="assets/images/Upload.svg" width="8" height="8" x="24" y="45"
      alt="Error Icon" />
    <text x="50" y="50" [attr.font-size]="8" text-anchor="middle" alignment-baseline="middle"
      [ngClass]="getTextClass()">
      {{ error ? 'TRY AGAIN' : secondLabel ? secondLabel : firstLabel }}
    </text>
    <text *ngIf="secondLabel === 'DOWNLOAD' || secondLabel === 'UPLOAD'  " x="30" y="66" text-anchor="bottom"
      [attr.font-size]="14" text-anchor="bottom" alignment-baseline="middle">
      {{secondLabel === 'DOWNLOAD' ? currentRateDownload: currentRateUpload}}
    </text>

    <!-- Fix: Use img for warning icon -->
    <image *ngIf="error" href="assets/images/warning.svg" width="16" height="16" x="41" y="55" alt="Error Icon" />
    <!-- <image *ngIf="completed" href="assets/images/done.svg" width="16" height="16" x="41" y="55" alt="Error Icon" /> -->
    <!-- Fix: Replace ion-text with div for second label -->
    <!-- <div *ngIf="secondLabel" class="second-label">
        {{ secondLabel }}
      </div> -->
  </svg>
  <!-- <img *ngIf="error" src="assets/images/Warning.svg" class="aboutprojConn"/> -->

</div>
<!-- </ion-content> -->