<app-pcdc-header></app-pcdc-header>
<ion-content>
  <div class="container">
    <ion-button class="button_disable_hover" fill="clear"  (click)="backToSaved(school)">
      <ion-icon name="arrow-back-outline" class="backIcon" ></ion-icon>
    </ion-button>
    <div class="top-section">

      <div class="label-txt" [translate]="'confirmSchool.title'"></div>
      <div *ngIf="this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry" class="confirm-txt"
        [translate]="'confirmSchool.confirm1'"></div>
      <ion-item lines="none" *ngIf="school" class="detail_box">
        <ion-label>
          <span class="schoolName">{{school.name}}</span><br />
          <span class=" school_detail">{{school.education_level}}</span><br />
          <span class=" school_detail">{{school.admin_1_name}}- {{school.admin_1_name}}</span><br />
          <span class="school_detail"><span class="linkColor">lat long</span></span><br />
          <span class="school_detail">{{school.school_id}}</span><br />

          <span class="school_detail googleCheck linkColor">Check on Giga maps
            <ion-img src="assets/images/Launch.png" class="welcome_icon"></ion-img>
          </span><br />
        </ion-label>
        <!-- <div class="schoolid">School ID: {{school.school_id | uppercase}}</div> -->
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">

  <!-- <div class="confirm-txt" [translate]="'confirmSchool.confirm2'"></div> -->
  <ion-toolbar>
    <div class="notification">
      <ion-img name="information-circle-outline"  src="assets/images/info_icon.svg"></ion-img>

      <p class="MakeSureText">
        Make sure your school is correctly selected.
        Once you click yes you can only change your school by reinstalling the app.
      </p>
      <ion-icon name="close-outline" class="close-icon" (click)="closeNotification()"></ion-icon>
    </div>
    <div class="btn-holder">
      <ion-button block class="nobtn" [routerLink]="['/searchcountry']" [translate]="'no'"></ion-button>
      <ion-button block class="yesbtn" (click)="confirmSchool()" [translate]="'yes'"></ion-button>
    </div>
  </ion-toolbar>
  <!-- <div class="h-line"></div> -->
</ion-footer>