<app-pcdc-header></app-pcdc-header>
<ion-content>
  <div class="container">
    <span  (click)="backToSearchDetail()">
      <ion-icon name="arrow-back-outline" class="backIcon" (click)="backMenu()"></ion-icon>
    </span>

    <div class="top-layout">
      <div class="label-txt SchoolIDField">
        <!-- <br /> -->
        <span class="schoolID-txt">{{ schoolId | uppercase }}</span>
      </div>
      <!-- <div class="h-line"></div> -->
      <div class="selectandconfirm" [translate]="'schoolDetails.selectAndConfirm'"></div>
      <div *ngIf="schools?.length > 1" class="matches">({{schools?.length}}) results matching with {{schoolId | uppercase}}</div>

      <div class="ionListContainer">
        <div class="ionList">
          <!-- Check if there are multiple schools -->
          <ng-container *ngIf="schools?.length > 1; else singleSchool">
            <ion-radio-group [(ngModel)]="selectedSchool">
                <ion-item class="school_item" lines="none" color="light"  *ngFor="let schoolInfo of schools">
                  <ion-label>
                    <span class="schoolName">{{ schoolInfo.name }}</span>
                    <span class="education_level">{{ schoolInfo.education_level }}</span>
                    <span class="admin_name">{{ schoolInfo.admin_1_name }} - {{ schoolInfo.admin_1_name }}</span>
                    <div class="school_id"><span class="linkColor">lat long</span> {{ schoolInfo.school_id }}</div>
                    <span class="school_id">{{ schoolInfo.school_id }}</span>
                    <span class="school_id linkColor googleCheck">Check on Giga maps
                      <ion-img src="assets/images/Launch.png" class="welcome_icon"></ion-img>
                    </span>
                    <!-- <br /> -->
                  </ion-label>
                  <ion-radio slot="end" [value]="schoolInfo"></ion-radio>
                </ion-item>
            </ion-radio-group>
          </ng-container>

          <!-- Template to display when there's only one school -->
          <ng-template #singleSchool>
            <ion-item class="school_item" lines="none" color="light" *ngFor="let schoolInfo of schools" class="schoolList" (click)="confirmSchool(schoolInfo)">
              <ion-label>
                <span class="schoolName">{{ schoolInfo.name }}</span>
                <span class="education_level">{{ schoolInfo.education_level }}</span>
                <span class="admin_name">{{ schoolInfo.admin_1_name }} - {{ schoolInfo.admin_1_name }}</span>
                <div class="school_id"><span class="linkColor">lat long</span> {{ schoolInfo.school_id }}</div>
                <span class="school_id">{{ schoolInfo.school_id }}</span>
                <span class="school_id linkColor googleCheck">Check on Giga maps
                  <ion-img src="assets/images/Launch.png" class="welcome_icon"></ion-img>
                </span>
                <!-- <br /> -->
              </ion-label>
            </ion-item>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Display the "Select" button only if there are multiple schools -->
    <div class="bottom-layout" *ngIf="schools?.length > 1">
      <ion-button color="primary" class="searchButton" (click)="confirmSchool(selectedSchool)" [disabled]="!selectedSchool">
        Select
      </ion-button>
    </div>
  </div>
</ion-content>
