<ion-footer class="ion-no-border home_about">
  <div class="giga-map-link">
    <span class="googleCheck linkColor">
      Check on Giga Maps
      <ion-img src="assets/images/Launch.png" class="welcome_icon"></ion-img>
    </span>
  </div>

  <ion-toolbar>
    <ion-segment [(ngModel)]="activeSegment" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="home">
        <ion-label>Home</ion-label>
      </ion-segment-button>
      <ion-segment-button value="about">
        <ion-label>About</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
