<app-pcdc-header></app-pcdc-header>
<ion-content class="font_open_sans">
  <ion-button class="button_disable_hover" fill="clear" [routerLink]="['/register-school']">

    <ion-icon name="arrow-back-outline" class="backIcon" (click)="backMenu()"></ion-icon>
  </ion-button>
  <div class="container">
    <div class="welcomebg1">
      <div class="top-layout">
        <div class="search-label" [translate]="'searchCountry.detected-auto'"></div>
        <ion-item lines="none" class="searchCountry">
          <ion-label class="label" [translate]="'searchCountry.country'"></ion-label>
          <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCountries($event)" debounce="300"
            placeholder="Search country..."></ion-searchbar>
        </ion-item>

        <ion-list *ngIf="filteredCountries.length > 0" class="scrollable">
          <ion-item *ngFor="let country of filteredCountries" (click)="selectCountry(country)">
            <ion-button fill="clear" color="dark" class="dropdown_list" (click)="selectCountry(country)"> {{
              country.name }}
            </ion-button> </ion-item>
        </ion-list>
        <div *ngIf="automaticSearched" class="search-label change-country"
        [translate]="'searchCountry.change-country'"></div>
        <div *ngIf="this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry"
          class="search-label-error" [translate]="'searchCountry.country-not-accurate'"></div>
        <div *ngIf="this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry" class="search-label"
          [translate]="'searchCountry.please-double-check'"></div>

        <div *ngIf="this.isPcdcCountry === false " class="search-label-error"
          [translate]="'searchCountry.not-available'" [translateParams]="{ appName, appNameSuffix }">
        </div>
      </div>
      <div class="bottom-layout">
        <ion-button color="primary" block class="dailycheck_btn" (click)="confirmCountry()"><span class="submit_button_size"
            [translate]="'Confirm'"></span></ion-button>
      </div>
    </div>
  </div>
</ion-content>