<app-pcdc-header></app-pcdc-header>
<ion-content class="font_open_sans">
  <ion-button class="button_disable_hover" fill="clear" [routerLink]="['/register-school']">
    <ion-img src="assets/images/back_button.svg" name="arrow-back-outline" class="backIcon"></ion-img>
  </ion-button>
  <div class="container">
    <div class="welcomebg1">
      <div>
        <div class="search-label" [translate]="'searchCountry.detected-auto'"></div>
        <ion-item lines="none" class="searchCountry"
          [ngClass]="(selectedCountry !== '' && selectedCountry !== detectedCountry && isPcdcCountry !== false) ? 'warning_color' : this.isPcdcCountry === false ? 'error_color' : ''">
          <ion-label class="label" [translate]="'searchCountry.country'"></ion-label>
          <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCountries($event)" debounce="300"
            placeholder="Search country..."></ion-searchbar>
          <ion-img
            *ngIf="this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry && this.isPcdcCountry !== false"
            class="img_wifi" src="assets/images/warning.svg"></ion-img>
          <ion-img *ngIf="this.isPcdcCountry === false" class="img_wifi"
            src="assets/images/error_country.svg"></ion-img>

        </ion-item>

        <ion-list *ngIf="filteredCountries.length > 0" class="scrollable scrollable_content">
          <ion-item *ngFor="let country of filteredCountries" (click)="selectCountry(country)">
            <ion-button fill="clear" color="dark" class="dropdown_list" (click)="selectCountry(country)"> {{
              country.name }}
            </ion-button> </ion-item>
        </ion-list>
        <div *ngIf="automaticSearched && !(this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry)"
          class="automatic_label change-country" [translate]="'searchCountry.change-country'"></div>
        <div *ngIf="this.isPcdcCountry === false " class="search-label-error"
          [translate]="'searchCountry.not-available'" [translateParams]="{ appName, appNameSuffix }">
        </div>
        <div *ngIf="this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry"
          class="search-label-error" [translate]="'searchCountry.country-not-accurate'"></div>

        <div *ngIf="this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry" class="search-label"
          [translate]="'searchCountry.please-double-check'"></div>


      </div>
      <div class="bottom-layout">
        <ion-button color="primary" block class="dailycheck_btn" [disabled]="!selectedFromList"
          (click)="confirmCountry()"><span class="submit_button_size" [translate]="'Confirm'"></span></ion-button>
      </div>
    </div>
  </div>
</ion-content>