<app-pcdc-header></app-pcdc-header>
<ion-content>
  <ion-img src="assets/images/back_button.png" (click)="backToSearchDetail()"  class="back_button"></ion-img>

  <div class="container">
    <div class="top-layout">
      <!-- <div class="label-txt">
        <span class="result-txt" [translate]="'resultSchool'"></span><br /><span class="schoolID-txt">{{schoolId |
          uppercase}}</span>
      </div> -->
      <div class="h-line"></div>
      <div class="noschool">
        <ion-img src="assets/images/school_not_found.png" class="noschool-icon"></ion-img>
        <div class="unabletolocate-txt" [translate]="'schoolNotFound.unableToLocate' | translate:{ schoolId }"></div>
        <!-- <div *ngIf="notFound" class="noschool-txt" [translate]="'schoolNotFound.notFound'"></div> -->
        <!-- <ng-template #notRegister>
          <div class="noschool-txt" [translate]="'schoolNotFound.notRegister' | translate:{ appName }"></div>
        </ng-template> -->
        <div [translate]="'schoolNotFound.tryAgainPlaceholder'"></div>
      </div>
    </div>
    <div class="bottom-layout">
      <ion-button color="primary" block [routerLink]="['/']" class="dailycheck_btn"
        [translate]="'tryAgain'"></ion-button>
    </div>
  </div>
</ion-content>